# Environment variables
.env
.env.*

# Python virtual environment
venv
.venv/

# VS Code settings
.vscode/

# Docker
docker-compose.override.yml
*compose.yml

# Temporary files
*.tmp
*.swp

# Pytest cache
.pytest_cache/

# System files (Mac)
.DS_Store

# Logs
*.log

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

